@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 375px;
  margin: 10px auto;
  color: #000000;
  
}

header {
  width: 375px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #C6C6C6;
}

header .logo {
  height: 33px;
  width: 127px;
}

header .personal {
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

